@font-face {
    font-family: 'Sculpin';
    src: url('./fonts/sculpin-font/Process-Type-Foundry-Sculpin-Regular.ttf') format('truetype');
}

:root {
    --bg-green: #19271F;
    --bg-light-yellow: #ECECEC;
    --text60: rgba(2, 3, 2, 0.60);
    --text70: rgba(2, 3, 2, 0.70);
    --heading: #020302;
    --link: #28ADE6;
    --number: #19271F;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sculpin'
}
.container{
    width: 100%;
}
.container2{
    width: 100%;
    max-width: 990px;
    margin: auto;
}
.w-100{
    width: 100%;
}

.font-sculpin{
    font-family: 'Sculpin';
}

/* FONT SIZE CLASSES */
.text-11 {
    font-size: 11px;
}
.text-14 {
    font-size: 14px;
}
.text-16 {
    font-size: 16px;
}
.text-18 {
    font-size: 18px;
}
.text-20 {
    font-size: 20px;
}
.text-22 {
    font-size: 22px;
}
.text-24 {
    font-size: 24px;
}
.text-50 {
    font-size: 50px;
}

/* COLOR CLASSES */
.text-gray-60{
    color: var(--text60);
}
.text-gray-70{
    color: var(--text70);
}
.text-black{
    color: var(--heading);
}
.text-white {
    color: white;
}
.text-blue{
    color: var(--link);
}
.text-green {
    color: var(--number);
}
.text-center{
    text-align: center;
}

/* BACKGROUND COLOR CLASSES */
.bg-green{
    background-color: var(--bg-green);
}
.bg-white{
    background-color: white;
}
.bg-yellow-200{
    background-color: var(--bg-light-yellow);
}

/* PADDING CLASSES */
.p-40{
    padding: 40px;
}
.p-60{
    padding: 60px;
}
.p-80{
    padding: 8-px;
}
.p-100{
    padding: 100px;
}
.px-100{
    padding-left: 100px;
    padding-right: 100px;
}
.pt-20{
    padding-top: 20px;
}
.pt-40{
    padding-top: 40px;
}
.pb-71{
    padding-bottom: 71px;
}
.pt-107{
    padding-top: 107px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-160{
    padding-bottom: 160px;
}

/* MARGIN CLASSES */
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-26{
    margin-top: 26px;
}
.mt-32{
    margin-top: 32px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-60{
    margin-top: 60px;
}
.mt-80{
    margin-top: 80px;
}
.mt-86{
    margin-top: 86px;
}
.mt-100{
    margin-top: 100px;
}

/* LINE HEIGHT CLASSES */
.leading-20{
    line-height: 20px;
}
.leading-24{
    line-height: 24px;
}
.leading-28{
    line-height: 28px;
}
.leading-30{
    line-height: 30px;
}


/* FLEXBOX CLASSES */
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.items-start{
    align-items: start;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-end{
    justify-content: end;
}
.gap-6{
    gap: 6px;
}
.gap-10{
    gap: 10px;
}
.gap-20{
    gap: 20px;
}
.gap-53{
    gap: 53px;
}
.gap-107{
    gap: 107px;
}
.gap-40{
    gap: 40px;
}

/* TEXT TRANSFORM CLASSES */
.uppercase{
    text-transform: uppercase;
}
.text-justify{
    text-align: justify;
}

.decoration-none{
    text-decoration: none;
}

/* FONT WEIGHT CLASSES */
.font-400{
    font-weight: 400;
}
.font-600{
    font-weight: 600;
}
.font-700{
    font-weight: 600;
}
.font-800{
    font-weight: 800;
}

.img-full{
    width: 100%;
    height: 100%;
}


/* SECTION 1 STYLING */
.header-1{
    display: flex;
    justify-content: space-between;
}
.header-1 h2{
    color: #FFF;
    font-family: Sculpin;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.divider-gradient{
    width: 95%;
    height: 1px;
    background: linear-gradient(90deg, rgba(240, 232, 48, 0.00) 0%, #F0E830 70.39%, rgba(240, 232, 48, 0.00) 100%);
    margin-top: 414px;
}

/* SECTION 2 STYLING */
.section-2 .icons-wraper .icons-img{
    width: 40px;
    height: 40px;
}
.section-2 .icons-wraper p{
    max-width: 213px;
}

.item1 { grid-area: header1; }
.item2 { grid-area: header2; }
.item3 { grid-area: header3; }
.item4 { grid-area: footer1; }
.item5 { grid-area: footer2; }
.item6 { grid-area: footer3; }

.section-2 .icons-wraper {
  display: grid;
  grid-template-areas:
    'header1 header1 header1 header2 header2 header2 header3'
    'footer1 footer1 footer1 footer2 footer2 footer2 footer3';
    row-gap: 39px;
  margin-top: 70px;
  padding: 10px;
}


/* SECTION 3 STYLING */
.section-3 .top{
    height: 600px;
    z-index: 0;
}
.arrow-up-right{
    width: 16px;
    height: 16px;
}
.section-3 .img-wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    margin-top: -255px;
    z-index: 1;
}
.section-3 .img-wraper .grid-item,
.section-14 .img-wraper .grid-item{
    width: 100%;
    height: 100%;
}
.section-3 .img-wraper .grid-item img,
.section-14 .img-wraper .grid-item img{
    object-fit: cover;
    height: 100%;
}


/* SECTION 4 STYLING */
.property-info-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid rgba(2, 3, 2, 0.10);
}

.property-info-table td, .property-info-table th {
    padding: 8px;
    height: 54px;
}

.property-info-table td{
    height: 60px;
    padding-right: 20px;
    border-bottom: 1px solid rgba(2, 3, 2, 0.10);
}

.property-info-table th {
    padding: 20px;
    text-align: left;
    background-color: var(--bg-green);
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
}
.maps-wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 120px;
}


/* SECTION 5 STYLING */
.section-5, .section-7{
    height: 1684px;
}
li::marker {
    font-size: 1.7rem;
}
ul{
    list-style-position: inside;
}
ul li {
    margin-left: 40px;
    text-indent: -40px;
}

/* SECTION-8 STYLING */
.section-8 .img-wraper, 
.section-9 .img-wraper,
.section-10 .img-wraper,
.section-12 .img-wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    z-index: 1;
}
.section-8 .img-wraper .grid-item, 
.section-9 .img-wraper .grid-item,
.section-10 .img-wraper .grid-item,
.section-12 .img-wraper .grid-item{
    width: 100%;
    aspect-ratio: 1.16;
}

.section-8,.section-9, .section-10, .section-12 {
    height: 1684px;
}

/* SECTION-10 STSYLING */
.council-icons-wraper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.council-icons-wraper .item img{
    width: 40px;
    height: 40px;
}

/* SECTION-13 STYLING */
.section-13{
    height: 1684px;
}
.section-13 .top{
    height: 868px;
}
.section-13 .breakddown-wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}
.divider-gray{
    background: rgba(2, 3, 2, 0.30);
    width: 60%;
    height: 1px;
}
.divider-gray-2 {
    background: rgba(2, 3, 2, 0.30);
    width: 64%;
    height: 1px;
}


/* SECTION-14 STYLING */
.section-14 .img-wraper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    z-index: 1;
}


.guage-chart-main{
    width: 80%;
    margin: auto;
}









.highcharts-figure #container{
   /* height: 665px; */
   aspect-ratio: 1.35;
}
.highcharts-figure .text-gray-60{
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%; */
}
.highcharts-figure,
.highcharts-data-table table {
    width: 100%;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    /* margin: 10px auto; */
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    /* font-size: 1.2em; */
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: red;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-credits, .highcharts-exporting-group{
    display: none;
}

/* @media only screen and (max-width: ) */